# Dependencies
/node_modules
/npm-debug.log
yarn-error.log
package-lock.json

# Compiled output
dist/
build/

# Typescript
*.tsbuildinfo

# Vite
.vite/

# Environment
.env
.env.local
*.env
*.env.local

